[build]
  publish = "."
  command = ""

[[redirects]]
  from = "/news"
  to = "/news.html"
  status = 200

[[redirects]]
  from = "/privacy"
  to = "/privacy-policy.html"
  status = 301

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = false
